<section class="home">
    <form class="artist-form" action="/search-artist" method="get">
        <input name="artist" class="search-input" type="text" placeholder="search an Artist">
        <button class="search-button" type="submit">Search an Artist</button>
    </form>
</section>